html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
/********************************      Basic Structure      ********************************/

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family: 微软雅黑,黑体,Arial, Helvetica, sans-serif;
                color: #555;
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 15px;
                }
/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: 微软雅黑,黑体,Helvetica, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }
.hand{cursor: pointer;}

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }
.hid {
                display: none;
                }
				
.align-left {
                float: left;
                }
				
.align-right {
                float: right;
                }

/************ Button ************/
.button {
				font-family: 微软雅黑,黑体,Verdana, Arial, sans-serif;
                display: inline-block;
                background: #459300 url('../Images/Manage/bg-button-green.gif') top left repeat-x !important;
                border: 1px solid #459300 !important;
                padding: 4px 7px 4px 7px !important;
                color: #fff !important;
                font-size: 13px !important;
                cursor: pointer;
                }
                
.button:hover {
                text-decoration: underline;
                }
                
.button:active {
                padding: 5px 7px 3px 7px !important;
                }
				
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
                margin: 0 30px 0 260px;
                padding: 40px 0 0 0;
                }
				
/*************** Content Box ***************/

.content-box {
				max-width: 800px;
				min-width: 500px;
                border: 1px solid #ccc;
                margin: 0 0 20px 0;
                background: #fff;
                }

.content-box-header {
                background: #e5e5e5 url('../Images/Manage/bg-content-box.gif') top left repeat-x;
                margin-top: 1px;
                height: 40px;
                }

.content-box-header h3 {
                padding: 12px 15px 10px;
                float: left;
                }

ul.content-box-tabs {
                float: right;
                padding: 4px 15px 0 0 !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin: 0;
                padding: 0 !important;
                background-image: none !important;
                }                
ul.content-box-tabs li a {
                color: #333;
                padding: 8px 10px;
                display: block;
                margin: 1px;
                border-bottom: 0;
                }

ul.content-box-tabs li a:hover {
                color: #57a000;
                }              
                
ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
                }

.content-box-content {
                padding: 20px;
                font-size: 13px;
                border-top: 1px solid #ccc;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
form label span{
                float: right;
                margin: 0 0 10px;
                font-weight: normal;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }
				
				
form input.text-input,
form select,
form textarea{
                padding: 6px;
                font-size: 13px;
                background: #fff url('../Images/Manage/bg-form-field.gif') top left repeat-x;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }

.content-box,
.content-box-header,
ul.content-box-tabs li a.current {
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
				border-radius: 6px;
                }

.content-box-header {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
                }
				
.closed-box .content-box-header {
                -moz-border-radius-bottomleft: 6px;
                -moz-border-radius-bottomright: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
                }

ul.content-box-tabs li a.current {
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
                }